/*
 * file: css/main.css
 *
 * The main stylesheet for the app.
 *
 *
 */



/*----------------------------------
 * Main Page
 */
 
 div.fullpage {
	height: 100%; 
 }
 
 div#content {
	height: 100%; 
 }
  
 div#message {
 	text-align: center;
 	height: 5em;
 }

div#filler {
    background: url('../images/globe.png') no-repeat;
    height: 100%;
    width: 256px;
    margin: 3em auto;
    display: block;
    position: relative;
}
div#pin {
	background: url("../images/pin.png") no-repeat scroll 0 0 transparent;
	height: 48px;
	margin-left: 174px;
	margin-top: 15px;
	position: absolute;
	width: 48px; 
	display: none;
}

div#logo {
    margin: 3em auto;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}
div#logo IMG {
	border: none;	
	width: 90%;
}

div.ui-bar {
	margin: 0px auto;
	text-align: center;
}
div.ui-bar .ui-btn {
	margin: 0px 12px;
}

